@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject IOptionsSnapshot<AppOption> AppOptions;
@inject IWebHostEnvironment environment;
@inject AuthenticationStateProvider AuthenticationStateProvider;

<PageTitle>Home</PageTitle>

<h1>Hello, @userName!</h1>

Welcome to your new app.

<div>
    Environment: @environment.EnvironmentName
</div>
<div>
    Version: 0.0.4
</div>
<div>
    Secret: @AppOptions.Value.Secret
</div>

@code {
    private string userName = "world";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Identity.Name ?? "world";
        }
    }
}