@page "/"
@using Azure.Data.Tables
@using Azure.Identity
@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@inject IWebHostEnvironment Environment;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IConfiguration Configuration;

<PageTitle>Home</PageTitle>

<h1>Hello, @userName!</h1>

Welcome to your new app.

<div>
    Environment: @Environment.EnvironmentName
</div>
<div>
    Version: 0.0.4
</div>
<div>
    Storage Account: @tables
</div>

@code {
    private string userName = "world";
    private string tables;
    
    protected override async Task OnInitializedAsync()
    {
        Console.Out.WriteLine("Test stdout");
        Console.Error.WriteLine("Test stderr");
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Identity.Name ?? "world";
        }

        var ep = Configuration.GetValue<string>("STORAGE_ACCOUNT");
        if (ep == null)
        {
            Console.WriteLine("STORAGE_ACCOUNT not set");
            return;
        }

        try
        {
            var client = new Azure.Data.Tables.TableServiceClient(new Uri(ep), new DefaultAzureCredential());
            tables = string.Join(", ", await client.QueryAsync().Select(x => x.Name).ToArrayAsync());
        }
        catch(Exception ex)
        {
            Console.Error.WriteLine(ex);
        }
    }
}