@page "/"
@rendermode InteractiveServer
@using app.Api
@using Azure.Data.Tables
@using Azure.Identity
@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@inject IWebHostEnvironment Environment;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IConfiguration Configuration;
@inject ILogger<Home> logger;

<PageTitle>Home</PageTitle>

<h1>Hello, @userName!</h1>

Welcome to your new app.

<div>
    Environment: @Environment.EnvironmentName
</div>
<div>
    Version: 0.0.5
</div>
<div>
    Instance: @instanceId
</div>
<div>
    Storage Account: @tables
</div>
<div>
    Health: @(isHealthy ? "Healthy" : "Unhealthy")
    <button @onclick="ToggleHealth">Simulate @(isHealthy ? "Unhealthy" : "Healthy")</button>

    @if (!isAuthenticated)
    {
        <a href="/.auth/login/aad?post_login_redirect_uri=/">Login</a>
    }
    else
    {
        <p>welcome @userName!</p>
        <a href="/.auth/logout">Logout</a>
    }
</div>

@code {
    private string userName = "world";
    private string tables;
    private bool isHealthy = HealthState.IsHealthy;
    private string instanceId = System.Environment.GetEnvironmentVariable("WEBSITE_INSTANCE_ID") ?? "local";
    private bool isAuthenticated;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity?.IsAuthenticated == true;
        
        logger.LogInformation("Home page loading...");
        
        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Identity.Name ?? "world";
        }

        var ep = Configuration.GetValue<string>("STORAGE_ACCOUNT");
        if (ep == null)
        {
            Console.WriteLine("STORAGE_ACCOUNT not set");
            return;
        }

        try
        {
            var client = new Azure.Data.Tables.TableServiceClient(new Uri(ep), new DefaultAzureCredential());
            tables = string.Join(", ", await client.QueryAsync().Select(x => x.Name).ToArrayAsync());
        }
        catch(Exception ex)
        {
            Console.Error.WriteLine(ex);
        }
    }

    private void ToggleHealth()
    {
        HealthState.IsHealthy = !HealthState.IsHealthy;
        isHealthy = HealthState.IsHealthy;
    }
}