name: App
run-name: ${{ github.sha }}
on: 
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: ACR Login
        run: az acr login --name alidoplatformacr.azurecr.io
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./src
          push: true
          tags: |
            alidoplatformacr.azurecr.io/app:latest
            alidoplatformacr.azurecr.io/app:${{ github.sha }}
      - name: Find Target Resource
        run: |
          platformResourceGroup=$(az group list --tag type=platform --query '[0].name' -o tsv)
          echo "Platform Resource Group: $platformResourceGroup"
          echo "platformResourceGroup=$platformResourceGroup" >> $GITHUB_ENV
          appResourceGroup=$(az group list --tag type=app --query '[0].name' -o tsv)
          echo "Resource Group: $appResourceGroup"
          echo "appResourceGroup=$appResourceGroup" >> $GITHUB_ENV
          webAppName=$(az webapp list --resource-group $appResourceGroup --query '[0].name' -o tsv)
          echo "Web App Name: $webAppName"
          echo "webAppName=$webAppName" >> $GITHUB_ENV
          acrLoginServer=$(az acr list --resource-group $platformResourceGroup --query '[0].loginServer' -o tsv)
          echo "ACR Login Server: $acrLoginServer"
          echo "acrLoginServer=$acrLoginServer" >> $GITHUB_ENV
      - name: Upgrade App Service
        run: az webapp config container set --resource-group $appResourceGroup --name $webAppName --container-image-name $acrLoginServer/app:${{ github.sha }}