name: Deploy Infra

run-name: ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "rg"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy Resources
        run: ./.github/workflows/scripts/infra-deploy.sh ${{ github.sha }} ${{ github.event.inputs.groupName }}
      - name: Test
        run: ./.github/workflows/scripts/infra-test.sh ${{ github.event.inputs.groupName }} "./outputs.json"