name: Deploy Infra

env:
  SHA: ${{ github.sha }}

run-name: ${{ env.SHA }}

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "rg"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy
        run: |
          echo "Deploying in resource group '${{ github.event.inputs.groupName }}'"
          az group create --name ${{ github.event.inputs.groupName }} --location austriaeast
          az deployment group create \
            --resource-group ${{ github.event.inputs.groupName }} \
            --template-file infra/infra.bicep \
            --query "properties.outputs" \
            --output json > outputs.json
      - name: Test
        run: |
          # read installed infra properties
          group=${{ github.event.inputs.groupName }}
          echo group = $group
          acrName=$(jq --raw-output ".acrName.value" ./outputs.json)
          echo acrName = $acrName
          appServiceName=$(jq --raw-output ".appServiceName.value" ./outputs.json)
          echo appServiceName = $appServiceName
          url="https://${appServiceName}.azurewebsites.net"
          echo url = $url

          echo "Importing nginx into ACR"
          az acr import --name $acrName --source docker.io/library/nginx:1.29.4 --image nginx:testversion
          
          echo "Restarting App Service"
          az webapp restart --name $appServiceName --resource-group $group

          echo "Testing"
          timeout=100 #timeout in seconds
          httpcode=$(curl --connect-timeout $timeout -i $url | head -n 1)
          if [[ "$httpcode" == *"200 OK"* ]]; then
            echo "PASSED -- 200OK"
          else 
            echo "Expected 200OK but received $httpcode"
            exit 1
          fi
          welcome=$(curl --connect-timeout $timeout $url | grep "Welcome to nginx")
          if [[ -z "$welcome" ]]; then
            echo "Expected website content"
            exit 1
          fi
