name: Infra

run-name: ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "rg"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy Resources
        id: deploy
        run: ./.github/workflows/scripts/infra-deploy.sh ${{ github.sha }} ${{ github.event.inputs.groupName }}
      - name: Test
        run: python ./infra/tests/tests.py ${{ steps.deploy.outputs.appServiceName }}