name: Infra Stack App

run-name: ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "rg"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy App Stack
        id: deploy
        run: ./.github/workflows/scripts/infra-stack-app.sh ${{ github.sha }} ${{ github.event.inputs.groupName }}
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Test
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pytest ./infra/tests/tests.py --url https://alidorg4app.azurewebsites.net/ # ${{ steps.deploy.outputs.url }}