name: Stack Platform

run-name: ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      groupName: 
        description: "Resource Group Name"
        default: "platform"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy Platform Stack
        run: ./.github/workflows/scripts/infra-stack-platform.sh ${{ github.sha }} ${{ github.event.inputs.groupName }}